@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

fieldset {
    border: 2px solid #ccc;
    padding-left: 10px;
    padding-right: 10px ;
    margin-bottom: 20px;
}

legend {
    font-weight:600 ;
   
}